.list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  margin: 0;
  padding: 3px 5px;
  min-width: max-content;
  font-size: 1.2rem;
  background-color: var(--grey);
  color: var(--white);
  border-radius: 3px;
}