* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.3;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-family-default);
  color: var(--foreground); 
  background-color: var(--background); 
}

/* Reset nested font-size */
blockquote p,td p,th p,li li,li p,li h1,li h2,li h3,li h4,li h5,li h6,li label,li select, li input, li textarea, li button{
  font-size: 100%;
}

a {
  color: var(--color-main);
  text-decoration: none;
}

button {
  display: inline;
  margin: 0;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
}

a img{
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}


input, select, textarea{
  font-family: var(--font-family-default);
}

strong, optgroup {
  font-weight: var(--font-weight-bold);
}

p, li, td, th, textarea, caption, pre, blockquote, label, input, select, textarea {
  font-size: var(--font-size-default);
  line-height: 1.6;
}

h1, h2 {
  font-family: var(--font-family-heading);
}

h1 {
  font-size: var(--font-size-title);
  color: var(--foreground-highlight); 
}

h2 {
  font-size: var(--font-size-subtitle);
  color: var(--foreground-highlight); 
}

h3, h4, h5, h6 {
  font-size: var(--font-size-default);
  color: var(--color-main)
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


