:root {
  /* Brand colors */
  --color-main: #FFB948;
  --color-secondary: #FF7648;
  --color-weak: #EAF4FF;

  /* Grey scale */
  --white: #ffffff;
  --grey-light: #A6A6A6;
  --grey: #4C4B4B;
  --black: #333333;

  --background: var(--white);
  --foreground: var(--grey-light);
  --foreground-highlight: var(--black);

  /* Default font */
  --font-family-default: var(--font-inter), sans-serif;
  --font-family-heading: var(--font-source_serif), serif;

  /* Fonts weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 700;
  --font-weight-bold: 900;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--black);
    --foreground: var(--grey-light);
    --foreground-highlight: var(--white);
  }
}
